*, ::before, ::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
:root {
  --marine:#063c47;
  --black:#000000;
}
.App{
height:100vh;
background-image: url("/background.07e8ff90.png"),linear-gradient(180deg
  ,#000,#063c47);
  background-blend-mode: multiply;
}

.game-section{
  display: flex;
  height:70vh
}

.game-play-section{
  flex: 1 0 auto;
  height:80%;
}
.score-detail-section{
  padding: 40px 10px;
  display: flex;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  color: white;
}

.game-number, .game-time{
  margin:20px 0px;
  font-size: 48px;
  font-weight: 400;
}

.game-high-score{
  font-size: 38px;
}

@media only screen and (max-width: 600px) {
  .App{
    height:100%;
    }

    .score-detail-section{
      height: 420px;
    }
    .game-section{
      flex-direction: column-reverse;
      height:100%;
    }
}
